/target/
/.settings/
/.classpath
/.project
test/allocations.json
test/campaigns.json
test/recordings.json
test/templates.json
test/dart.zip
.factorypath
.history
/.apt_generated/
/.apt_generated_tests/
